@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "./partials/fonts.css";
@import "./partials/spacing.css";
@import "./partials/utils.css";

@layer base {
  :root {
    --header-height: 6.875rem; /* 110px */
    --header-height-md: 7.5rem; /* 120px */
    --footer-height: 3.75rem; /* 60px */
    --footer-height-md: 3.75rem; /* 60px */
  }
}

@theme {

  /* Fonts */
  --font-sans: 'Chroma ST', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent: #a400ff;

}

strong, b {
  @apply font-medium;
}
